/* default vars */

:root {
  --color-primary: #9a031e;
  --color-primary-hover: #2086c2;
  --color-primary-dark: #13141f;
  --color-primary-dark-hover: #212336;
  --color-primary-light: #d4ecfa;
  --color-primary-light-hover: #bdd8e7;

  --color-gray-default: #cfcfcf;

  --color-white: #fff;
  --color-black: #000;

  --color-dark-text: #444;
  --color-info-light: #cce5ff;
  --color-debug-light: #cce5ff;
  --color-success-light: #d4edda;
  --color-alert-light: #fff3cd;
  --color-warning-light: #fff3cd;
  --color-error-light: #f8d7da;

  --color-info-dark: #4d86c4;
  --color-debug-dark: #4d86c4;
  --color-success-dark: #4a9c5d;
  --color-alert-dark: #927f40;
  --color-warning-dark: #927f40;
  --color-error-dark: #da525d;

  --color-gray-0: #f9f9f9;
  --color-gray-1: #e0e0e0;
  --color-gray-2: #c7c7c7;
  --color-gray-3: #aeaeae;
  --color-gray-4: #959595;
  --color-gray-5: #7d7d7d;
  --color-gray-6: #646464;
  --color-gray-7: #4b4b4b;
  --color-gray-8: #323232;
  --color-gray-9: #191919;

  --font-primary: sans-serif;
  --font-headings: "Roboto Slab", serif;

  --spacing-gutter-medium: 3rem;
  --spacing-gutter-large: 4rem;
}

/* ////////// */

/* reset style */

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Pokemon Fire Red Regular", monospace;
  background-color: #f5f5f5;
}

* {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  box-sizing: border-box;
}

/* ////////// */

/* header */

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--color-primary);
  -webkit-box-shadow: 0px 4px 12px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 12px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 12px -5px rgba(0, 0, 0, 0.75);
}

header div {
  align-items: center;
  display: flex;
  gap: 5px;
  margin-left: 15px;
  width: 300;
  height: 80px;
}

.pokeball-a {
  width: 38px;
  height: 38px;
}

header div i {
  margin-right: 30px;
  font-size: 14px;
}

.pokeball-icon {
  /* margin: 0 10px 0 50px; */
  width: 38px;
  height: 38px;
}

.nav-title {
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 2px;
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  header div i {
    margin-right: 15px;
  }

  .pokeball-icon {
    width: 30px;
    height: 30px;
  }

  header div a {
    width: 90px;
    /* height: 30px; */
  }

  .nav-title {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 300px) {
  .nav-title {
    font-size: 2rem;
  }
  .pokeball-icon {
    margin-top: 5px;
    width: 28px;
    height: 28px;
  }
  header div i {
    margin-right: 1px;
  }
  header div {
    margin-left: 5px;
    gap: 0px;
  }
}

/* ////////// */

main {
  padding-top: 85px;
}
/* search area */
.search-section {
  margin: 5px auto 5px;
  width: 85%;
  border: 2px solid var(--color-gray-default);
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
}

.search-section form {
  height: 100%;
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
}

.types-area {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.types-area div {
  display: flex;
  width: 38px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.types-area div {
  font-size: 20px;
}

.input-area {
  width: 50%;
  display: flex;
  gap: 5px;
}
.input-area input {
  width: 65%;
  height: 35px;
  min-width: 140px;
  border: 1px solid var(--color-gray-default);
  padding: 5px;
  font-size: 11px;
  border-radius: 64px 64px 64px 64px;
  -webkit-border-radius: 64px 64px 64px 64px;
  -moz-border-radius: 64px 64px 64px 64px;
}
.input-area button {
  padding: 5px;
  min-width: 80px;
  height: 35px;
  border: none;
  color: var(--color-white);
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 500;
  background-color: var(--color-primary);

  border-radius: 64px 64px 64px 64px;
  -webkit-border-radius: 64px 64px 64px 64px;
  -moz-border-radius: 64px 64px 64px 64px;
}

@media only screen and (max-width: 600px) {
  .search-section form {
    flex-direction: column;
    gap: 20px;
  }

  .types-area {
    width: 95%;
    padding: 5px;
  }

  .input-area {
    width: 95%;
  }
}

@media only screen and (max-width: 300px) {
  .input-area button {
    min-width: 60px;
  }
}
/* content area */

.container-cards {
  margin: 10px auto 10px;
  /* background-color: #4a9c5d; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px; /* Espaçamento entre os cartões */
  width: 85%;
  gap: 20px;
}

.card {
  background-color: #f5f5f5;
  border: 2px solid var(--color-gray-default);
  min-width: 200px;
  /* height: 350px; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  border-radius: 22px 22px 22px 22px;
  -webkit-border-radius: 22px 22px 22px 22px;
  -moz-border-radius: 22px 22px 22px 22px;
}

.card .img-div {
  width: 85%;
}
.card .img-div img {
  width: 100%;
  border: 1px solid black;
}

.card .info-div {
  width: 85%;
  margin-top: 10px;
  border: 1px solid black;
  padding: 5px;
}

.card ul {
  list-style: none;
}

.card ul li {
  margin-bottom: 3px;
}

.card ul li i {
  font-style: normal;
}

/* ////////// */

/* card types color */

.normal-color {
  color: #000000;
}

.fire-color {
  color: #c71412;
}

.water-color {
  color: #004ec9;
}

.electric-color {
  color: #feed08;
}

.grass-color {
  color: #05c112;
}

.ice-color {
  color: #4de5f5;
}

.fighting-color {
  color: #ae3f04;
}

.poison-color {
  color: #915976;
}

.ground-color {
  color: #945d2d;
}

.flying-color {
  color: #29b2d1;
}

.bug-color {
  color: #aadd34;
}

.psychic-color {
  color: #b34b71;
}

.rock-color {
  color: #a69677;
}

.ghost-color {
  color: #6c5694;
}

.dragon-color {
  color: #943a32;
}

.steel-color {
  color: #b5b8b1;
}

/* ////////// */
